<section class="">
  <div class="container py-5 mt-5">
    <div class="text-center"><h1 class="titulo mb-5 mt-5">Fichas de Plantas</h1></div>

    <div class="d-flex justify-content-center gap-3 mb-4">
      <button class="btn etiqueta etiqueta-verde">Árboles</button>
      <button class="btn etiqueta etiqueta-salmon">Arbustos</button>
      <button class="btn etiqueta etiqueta-amarilla">Hierbas</button>
      <button class="btn etiqueta etiqueta-violeta">Trepadoras</button>
    </div>

    <div class="row g-4">
      @for (ficha of fichas; track ficha) {
        <div class="col-md-4">
          <div class="card rounded-4 shadow border-0" (click)="ficha.mostrar = !ficha.mostrar">
            @if (!ficha.mostrar) {
              <img
                src="public/fotos/nativas/algarrobo-0.webp"
                class="card-img-top rounded-top-4"
                alt="{{ ficha.nombreComun }}"
              />
              <div class="position-absolute top-0 end-0 p-2">
                <span class="badge rounded-pill etiqueta etiqueta-amarilla">Categoría</span>
              </div>
              <div class="card-body">
                <h5 class="card-title">{{ ficha.nombreComun }}</h5>
                <p class="card-text">{{ ficha.nombreCientifico }}</p>
              </div>
            } @else {
              <div class="card-body">
                <h5 class="card-title">{{ ficha.nombreComun }}</h5>
                <p class="card-text">{{ ficha.nombreCientifico }}</p>
                <p>{{ ficha.descripcion }}</p>
              </div>
            }
          </div>
        </div>
      }

      @if (seleccionada) {
        <div class="mt-4 p-3 border rounded bg-light">
          <h3>{{ seleccionada.nombre }}</h3>
          <p>{{ seleccionada.nombreCientifico }}</p>
          <p>{{ seleccionada.descripcion }}</p>
        </div>
      }
    </div>
  </div>
</section>
